.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkblue;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px 25% 50px 50%;
}

.App header {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    height: 50px;
}

.App header a {
    color: whitesmoke;
    text-decoration: none;
    transition: all .5s ease-out;
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 5px 10px;
}

.App header a:hover {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}

.SmurfForm {
    margin-bottom: 50px;
}

.Smurf {
    background: #90a3b681;
    padding: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}